body {
  background: #e8f5e9;
  font-family: Arial;
  text-align: center;
}
.card {
  background: white;
  width: 320px;
  margin: 120px auto;
  padding: 20px;
  border-radius: 10px;
}
input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}
button {
  background: #2e7d32;
  color: white;
  border: none;
}
